<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="libraries :: csses"></div>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body class="bg-light">
<div th:replace="libraries :: navbar"></div>
<div class="jumbotron text-center stylish-color white-text mx-2 mb-5">
    <!-- Title -->
    <i class="fas fa-car-side fa-5x mr-3 white-text "></i>
    <h1 class="card-title h2 mb-lg-5">Nauka jazdy!</h1>
    <!-- Subtitle -->
    <p class="text-left my-4 h6">Jesteśmy firmą zajmującą się szkoleniem z dziedziny prawa jazdy wszystkich kategorii. Z naszą wykwalifikowana kadrą nie będziesz miał żadnych trudności w postawieniu pierwszych kroków jako kierowca.</p>
    <p class="text-left my-4 h6">Zapraszamy do naszej siedziby na ulicy Piastowskiej 0 we Wrocławiu.</p>
    <p class="text-left my-4 h6">Aby przejść dalej, zaloguj się.</p>

</div>
<div class="container-fluid">
    <div class="row">
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
        <i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;<i class="fas fa-car-side fa-lg"></i>&nbsp;
    </div>
</div>
<div th:include="libraries :: scripts"></div>
</body>
</html>